<%- include('header') -%>


		<h1>New Book Page</h1>
		<form action="/products" method="POST">
			name: <input type="text" name="name" /><br />
			descrption: <input type="text" name="descrption" /><br />
			
			<input type="submit" name="" value="Add Product" />
		</form>
<%- include('footer') -%>